/target
/Cargo.lock
/models
**/.DS_Store
**/logs
config.json
config.test.json
!tests/load/config.test.json
!tests/load/config/config.json
.env
.env.test
memo.md
**/superpowers

docs
!docs/sql
!docs/dashborads
